<%- include('header') %>

    <div class="row">
        <div class="col-8 text-center">
            <h3 class="section-title">JÁTÉKRÁCS</h3>
    
            <div class="game-board cyber-grid">
                <button class="box cyber-box" id="1"></button>
                <button class="box cyber-box" id="2"></button>
                <button class="box cyber-box" id="3"></button>
                <button class="box cyber-box" id="4"></button>
                <button class="box cyber-box" id="5"></button>
                <button class="box cyber-box" id="6"></button>
                <button class="box cyber-box" id="7"></button>
                <button class="box cyber-box" id="8"></button>
                <button class="box cyber-box" id="9"></button>
            </div>
        </div>
    
        <div class="col-4 d-flex flex-column">
            <div class="hologram panel">
                <h3 class="section-title">JÁTÉKOSOK</h3>
    
                <ul id="players-list" class="players-list"></ul>
    
                <button id="leave-btn" class="btn cyber-btn mt-3">KILÉPÉS</button>
            </div>
    
            <div class="hologram panel mt-auto">
                <h3 class="section-title">PONTOK</h3>
                <ul id="score-list" class="players-list"></ul>
    
                <h3 id="gameCode" class="room-code">
                    SZOBÁKÓD: <%= roomConfig.roomId %>
                </h3>
            </div>
        </div>
    </div>

    <script>
        window.roomConfig = <%- JSON.stringify(roomConfig) %>;
    </script>

<%- include('modal') %>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>

<%- include('footer') %>